* {
  font-family: Helvetica, Arial, sans-serif;
  align-content: center;
}

body {
  background-color: lightblue;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

a {
  text-decoration: none;
}
